h1{
    text-align: center;
}

div{
    border: 3px solid black;
    margin: 100px auto;
}

#large{
    width: 500px;
    height: 500px;
}

#medium{
    height: 300px;
    width: 300px;
}

#small{
    height: 100px;
    width: 100px;
}
